<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div class="my-3 border-bottom">
        <div>
            <h4>비밀번호 변경</h4>
        </div>
    </div>
    <form th:action="@{/user/modify/password}" th:object="${passwordModifyForm}" method="post">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <div class="mb-3">
            <label for="beforePassword" class="form-label">이전 비밀번호</label>
            <input type="password" th:field="*{beforePassword}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="password1" class="form-label">변경할 비밀번호</label>
            <input type="password" th:field="*{password1}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">비밀번호 확인</label>
            <input type="password" th:field="*{password2}" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">변경하기</button>
    </form>
</div>
</html>